@using Ap204_Pronia.Models
@model Color
@{
    ViewData["Title"] = "Detail";
}
<div>
    <div>
        <h2>Id:  @Model.Id</h2>
      
    </div>
    <div>
         <h2>Name:   @Model.Name </h2>
       
    </div>
</div>



